<div class="bg d-flex align-items-center justify-content-center">
  <mat-card>
    <mat-card-title>LOGIN CUSTOMIZADO</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="2">
        <mat-form-field>
          <input type="text" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Senha">
        </mat-form-field>
        <div class="row">
          <div class="col-lg-4">
            <section class="example-section">
              <mat-checkbox class="example-margin" checked>Lembrar-me</mat-checkbox>
            </section>
          </div>
          <div class="col-lg-8 d-flex justify-content-end">
            <a href=""><i>Esqueceu a senha?</i></a>
          </div>
        </div>
        <div class="button pt-5">
          <button type="submit" mat-button>LOGIN</button>
        </div>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>